[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
django-countries = "*"
django = "==3.2"
django-rest-swagger = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "==3.4.0"
django-filter = "*"
celery = "==5.1.2"
redis = "==3.5.3"
djoser = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
